In [1]:
import sys
print(sys.path)

['/Users/johanna/Documents/GitHub/NovaProgrammingProject/notebooks', '/Users/johanna/.pyenv/versions/3.9.13/lib/python39.zip', '/Users/johanna/.pyenv/versions/3.9.13/lib/python3.9', '/Users/johanna/.pyenv/versions/3.9.13/lib/python3.9/lib-dynload', '', '/Users/johanna/.pyenv/versions/3.9.13/lib/python3.9/site-packages']

In [2]:
#add ../src to the path
sys.path.append('../src')

In [3]:
from scraper import WCScraper

In [4]:
myscraper = WCScraper('fevent', 'fhome', 'fscore', 'faway')

In [5]:
df = myscraper.getAllData([2014,2018])
df

        team1      team2  score_team1  score_team2
0     Brazil     Croatia            3            1
1     Mexico    Cameroon            1            0
2     Brazil      Mexico            0            0
3   Cameroon     Croatia            0            4
4   Cameroon      Brazil            1            4
..        ...        ...          ...          ...
59    Russia     Croatia            2            2
60    France     Belgium            1            0
61   Croatia     England            2            1
62   Belgium     England            2            0
63    France     Croatia            4            2

[128 rows x 4 columns]